* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: orangered;
  color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: blueviolet;
}

.red-bg {
  background-color: red;
}

.cards-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-container img {
  width: 475px;
  height: 300px;
}
.cards-container:nth-child(1) {
  row-gap: 29px;
}
section div {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.carddiv {
  width: 440px;
  display: flex;
  justify-content: flex-start;
}
